## Introdução a biblioteca Pandas

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('data/Gapminder.csv')

In [4]:
#visualizando as 5 primeiras linhas:
df.head()

       country continent  year   lifeExp         pop   gdpPercap  Unnamed: 6
0  Afghanistan      Asia  1952  28801.00   8425333.0  779.445314         NaN
1  Afghanistan      Asia  1957  30332.00   9240934.0  820.853030         NaN
2  Afghanistan      Asia  1962  31997.00  10267083.0  853.100710         NaN
3  Afghanistan      Asia  1967     34.02  11537966.0  836.197138         NaN
4  Afghanistan      Asia  1972  36088.00  13079460.0  739.981106         NaN

In [5]:
df = df.rename(columns={"country":"Pais", "continent": "continente", "year":"Ano", "lifeExp":"Expectativa de vida", "pop":"Pop Total", "gdpPercap": "PIB"})

In [6]:
df.head()

,Pais,continente,Ano,Expectativa de vida,Pop Total,PIB,Unnamed: 6
0,Afghanistan,Asia,1952,28801.00,8425333.0,779.445314,NaN
1,Afghanistan,Asia,1957,30332.00,9240934.0,820.853030,NaN
2,Afghanistan,Asia,1962,31997.00,10267083.0,853.100710,NaN
3,Afghanistan,Asia,1967,34.02,11537966.0,836.197138,NaN
4,Afghanistan,Asia,1972,36088.00,13079460.0,739.981106,NaN

In [9]:
#Total de linhas e colunas
df.shape

(3288, 7)

In [10]:
df.columns

Index(['Pais', 'continente', 'Ano', 'Expectativa de vida', 'Pop Total', 'PIB',
       'Unnamed: 6'],
      dtype='object')

In [12]:
#removendo coluna estranha
df.drop(columns=['Unnamed: 6'])

,Pais,continente,Ano,Expectativa de vida,Pop Total,PIB
0,Afghanistan,Asia,1952,28801.00,8425333.0,779.445314
1,Afghanistan,Asia,1957,30332.00,9240934.0,820.853030
2,Afghanistan,Asia,1962,31997.00,10267083.0,853.100710
3,Afghanistan,Asia,1967,34.02,11537966.0,836.197138
4,Afghanistan,Asia,1972,36088.00,13079460.0,739.981106
...,...,...,...,...,...,...
3283,NaN,NaN,NaN,NaN,NaN,NaN
3284,NaN,NaN,NaN,NaN,NaN,NaN
3285,NaN,NaN,NaN,NaN,NaN,NaN
3286,NaN,NaN,NaN,NaN,NaN,NaN
3287,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df.dtypes

Pais                    object
continente              object
Ano                     object
Expectativa de vida    float64
Pop Total              float64
PIB                    float64
Unnamed: 6             float64
dtype: object

In [19]:
df.describe()

       Expectativa de vida     Pop Total           PIB    Unnamed: 6
count          1351.000000  1.351000e+03  1.351000e+03     88.000000
mean          19768.812908  3.484068e+07  4.150654e+05   6980.478500
std           27847.943155  1.376156e+08  3.557558e+06   9588.641633
min              30.000000  5.204000e+01  2.998503e+02    241.165877
25%              70.235000  3.159342e+06  2.577155e+03   1587.582774
50%              75.360000  7.607651e+06  8.037950e+03   3484.113173
75%           46699.000000  1.122265e+07  1.779805e+04   5794.438345
max           81235.000000  1.318683e+09  6.460676e+07  54589.820240

In [20]:
df['continente'].unique()

array(['Asia', 'Europe', 'Africa', 'Americas', nan, 'FSU', ' Dem. Rep.',
       ' Rep.', 'Oceania', ' China'], dtype=object)

In [21]:
Oceania = df.loc[df['continente'] == 'Oceania']
Oceania.head()

,Pais,continente,Ano,Expectativa de vida,Pop Total,PIB,Unnamed: 6
975,Fiji,Oceania,1962,56494.0,421869.0,2039.393277,NaN
976,Fiji,Oceania,1967,58607.0,485000.0,2170.073285,NaN
977,Fiji,Oceania,1972,60642.0,544000.0,2797.759484,NaN
978,Fiji,Oceania,1977,62669.0,599339.0,3182.569600,NaN
979,Fiji,Oceania,1982,64683.0,658906.0,3209.257468,NaN

In [22]:
df.groupby('continente')['Pais'].nunique()

continente
 China         1
 Dem. Rep.     1
 Rep.          1
Africa        22
Americas      13
Asia           8
Europe        16
FSU            1
Oceania        1
Name: Pais, dtype: int64

In [24]:
df.groupby('Ano')['Expectativa de vida'].mean()

Ano
1950       7143.947685
1951         66.494545
1952      24849.332509
1953         66.002460
1954         66.718800
1955         67.178513
1956         67.438773
1957      25304.991196
1958         68.384033
1959         66.663135
1960         66.485615
1961         67.197680
1962      25834.865573
1963         68.693556
1964         69.178247
1965         69.306073
1966         69.617564
1967      29028.812615
1968         69.851382
1969         69.890473
1970         70.284618
1971         70.459760
1972      30931.774879
1973         71.002369
1974         70.870873
1975         71.118080
1976         71.267033
1977      28139.045453
1978         71.871302
1979         72.180487
1980         72.241105
1981         72.544524
1982      33696.974627
1983         73.362000
1984         73.679000
1985         73.605000
1986         73.897000
1987      35018.647328
1988         74.376000
1989         74.422000
1990         73.889167
1991         74.148462
1992      37168.269371
1993         74.157692
1994         74.244615
1995         74.426923
1996         74.851538
1997      36181.354394
1998         75.279231
1999         75.500769
2000         75.850000
2001         76.106154
2002      38934.775781
2003         76.450000
2004         76.872308
2005         76.677500
2006         78.595000
2007      53197.006662
Africa     1979.500000
Name: Expectativa de vida, dtype: float64

In [25]:
df['PIB'].mean()

415065.3748768409

In [26]:
df['PIB'].sum()

560753321.4586118